.nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 0;

    &__item {
        padding: 0 1rem;
        position: relative;

        & > a {
            text-decoration: none;
            color: #b2bec3;

            &:hover {
                color: white;
            }
        }

        &__text {
            text-transform: uppercase;
            font-weight: bold;
            font-size: .8rem;

            @include media-breakpoint-down(sm) {
                & {
                    font-size: 10px;
                }
            }
        }

        &--active {
            & span::after {
                content: "";
                display: block;
                border-bottom: 5px solid $orange-dark;
                width: 90%;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%);
                border-radius: 1000px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            & > a {
                color: white;
            }
        }
    }
}
